$backgroundColor: #14c282;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: rgb(7, 63, 73);
        color: rgb(222, 195, 242);
        border-radius: 10px;

        &:focus {
          background: rgb(183, 115, 231);
          color: #eee;
        }
        &:hover {
          background: rgb(183, 115, 231);
          color: #eee;
        }
        &:active {
          background: rgb(183, 115, 231);
          color: #eee;
        }
      }
    }
  }
}