$backgroundColor: #c5f7ea;
@import url('https://fonts.googleapis.com/css2?family=Fascinate&effect=neon');

$fascinate: 'Fascinate', cursive;


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header {
    background: darken($backgroundColor, 80);
    border-bottom: 1px solid #eee;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  h1 {
    font-family: $fascinate;
    font-size: 5vw;
    color: rgb(183, 115, 231);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #eee;;
    margin: 2vw;
  }

  footer {
    background: darken($backgroundColor, 60);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
  }


}